* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1600px;
    /* margin: 0 auto; */
}

body {
    overflow-x: hidden;
}

.none {
    display: none;
}

.inter-uniquifier {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* common classes */
.max_width {
    max-width: 1200px;
    margin: 0 auto;
}

.single_line_paragraph {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}

.display_flex {
    display: flex;
}

.heading_titles {
    font-weight: 700;
    font-size: 3rem;
    color: #FFFFFF;
}

.paragraph_details {
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.features_heading {
    font-weight: 700;
    font-size: 1.5rem;
    color: #FFFFFF;
    padding: 16px 0 16px;
}

.card_paragraph {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}



/* nav  bar design */
header {
    background-color: #1A0B2E;
}

.hamburger_menu {
    display: none;

}

.nav_bar {
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav_bar img {
    max-width: 219px;
    width: 100%;
    height: 32px;
}

.nav_link ul li {
    list-style: none;

}

.nav_bar ul {
    gap: 14.7%;

}

.nav_link ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1rem;
}

.btn_1 {
    color: #FFFFFF;
    /* attention here again */
    width: 140px;
    /* height: px; */
    font-weight: 600;
    font-size: 1rem;
    padding: 12px 16px;
    background: linear-gradient(48.06deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%);
    border-radius: 10000px;
    border: 1px solid transparent;
}

/* hero section design */
.hero_section {
    background-image: url(./images/hero-bg.png);
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-position: center;
}

.hero_div1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.mictophon {
    position: absolute;
    top: 275px;

}

.btn_4 {
    position: absolute;
    left: 54%;
    /* top: 30%; */
    /* top: 202px; */
    padding: 8px 16px;
    gap: 10px;
    width: 75px;
    height: 38px;
    background: #00FF88;
    box-shadow: 0px 3px 27px rgba(0, 255, 136, 0.5);
    border-radius: 1000px;
    border: transparent;
    color: #1A0B2E;
    font-weight: 600;
    font-size: 1.1rem;
}

.hero_h1 {
    font-weight: 800;
    font-size: 3.75rem;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 8px;
}

.p1 {
    margin-bottom: 24px;
    color: rgba(255, 255, 255, 0.8);
}

.pic {
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


.circle {
    width: 350px;
    height: 350px;
    left: 525px;
    top: 193px;
}

.hero_details {
    flex-direction: column;
    text-align: center;
}

.hero_btn {
    gap: 8px;
    justify-content: center;
}

.btn_2 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
    padding: 12px 20px;
    background: linear-gradient(48.06deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%);
    border-radius: 10000px;
    border: 1px solid transparent;
}

.btn_3 {
    font-weight: 600;
    font-size: 1rem;
    color: #00FF88;
    background-color: transparent;
    padding: 12px 20px;
    border-radius: 10000px;
    border: 1px solid #00FF88;
}

/* about section */
.about_podcast {
    text-align: center;
}

.p_001 {
    margin-top: 16px;
}

.p_2 {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 35px;
}

.about_podcast {
    margin-top: 50px;
    margin-bottom: 80px;
}

.colored_heading {
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
}

.viewer_card {
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 120px;
}

.p_002 {
    margin-top: 16px;
}

/* card design */
.card_section {
    background-color: #230e3d;
    padding: 120px 0 120px;
}

.features {
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
}

.features_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 225px 225px 273px;
    gap: 30px;
    align-content: center;
    padding-top: 40px;
}

.features_1 {
    grid-column: span 1;
    grid-row: span 2;

}

.features_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.features_2 {
    grid-column: span 2;
    grid-row: span 1;

}

.features_3 {
    grid-column: span 2;
    grid-row: span 1;
}

.features_4 {
    grid-column: span 2;
    grid-row: span 1;
}

.features_5 {
    grid-column: span 1;
    grid-row: span 1;
}

.thunder_icon {
    width: 50px;
    height: 50px;
}


.features {
    position: relative;
    background-color: transparent;
    z-index: 1;
    overflow: hidden;
}

/* animation part */

.features::before {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background: linear-gradient(48.06deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%);
    animation: rotateBorder 4s linear infinite reverse;
    z-index: -2;
}

.features::after {
    content: '';
    position: absolute;
    inset: 3px;
    background-color: #28104E;
    border-radius: 37px;
    z-index: -1;
}

@keyframes rotateBorder {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* featured episode design */
.featured_div1 {
    margin-bottom: 120px;
}

.featured_episode {
    padding: 120px 0 120px;
    background-color: #1A0B2E;
}

.episodes_card {
    background-color: #250d44;
    border-radius: 24px;
}

.episode_detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.after_video {
    padding: 24px;
}

.duration {
    display: flex;
    gap: 6px;
    align-items: center;
}

.duration img {
    width: 16px;
    height: 16px;
}

.duration_text {
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
    color: #00FF88;
}

/* host part desing */
.host_title {
    margin-bottom: 40px;
}

.alex_name {
    font-weight: 700;
    font-size: 2rem;
    color: #FFFFFF;
}

.host_icons {
    display: flex;
    gap: 8px;
    align-items: center;
}

.icon_decoration {
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #533C72;
}

.challenge_bar {
    gap: 24px;
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    ;
}

.host_paragraph {
    margin-top: 16px;
    margin-bottom: 16px;
}

/* footer styles */
.footer {
    background-image: url(./images/footer-bg.png);
    background-position: center;
}

.footer_main {
    padding: 120px 0 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_title img {
    width: 410px;
    height: auto;
}

.footer_main_p {
    font-weight: 500;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
}

.top_footer {
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: rgba(250, 250, 250, 0.6);
}

.middle_div {
    display: flex;
    gap: 40px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.soscial_connection {
    display: flex;
    gap: 8px;
}




@media screen and (max-width: 576px) {

    .nav_link,
    .btn_1 {
        display: none;
    }

    .nav_bar {
        width: 100%;
        padding: 0 20px;
    }

    .mictophon {
        position: absolute;
        top: 165px;

    }

    .hamburger_menu {
        display: flex;
        flex: 0;
        justify-content: space-between;
        align-items: center;
        width: 24px;
        height: 24px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .hero_div1 {
        gap: 40px;
        padding: 40px 20px 40px;
    }

    .btn_4 {
        left: 63%;
    }

    .about_podcast {
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 0 20px;
    }


    .viewer_card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        padding: 40px 20px 40px;
        justify-items: center;
    }

    .card_section {
        padding: 40px 20px;
    }

    .features_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 16px;
        align-content: center;
        padding-top: 16px;
    }

    .featured_episode {
        padding: 40px 20px;
    }

    .episode_detail {
        grid-template-columns: 1fr;
        width: 100%;
        height: 100%;
        margin-top: 24px;
    }

    .featured_div1 {
        margin-bottom: 60px;
    }

    .challenge_bar {
        flex-direction: column;
        gap: 16px;
        padding: 24px;
        border-radius: 24px;
        background-color: rgba(53, 17, 101, 0.4);
        justify-content: center;
        align-items: center;
    }

    .introduce_alex {
        text-align: center;
    }

    .host_icons {
        justify-content: center;
    }

    .footer_main {
        padding: 40px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .middle_div {
        gap: 16px;
        margin-top: 24px;
        margin-bottom: 24px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }

}


@media screen and (min-width: 576px) and (max-width: 992px) {

    .nav_link,
    .btn_1 {
        display: none;
    }

    .hamburger_menu {
        display: flex;
        flex: 0;
        justify-content: space-between;
        align-items: center;
        width: 24px;
        height: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .mictophon {
        position: absolute;
        top: 235px;

    }

    .btn_4 {
        left: 57%;
    }

    .hero_div1 {
        gap: 40px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .card_section {
        padding: 60px 20px;
    }

    .viewer_card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 30px;
        padding: 40px 20px 40px;
    }

    .featured_div1 {
        margin-bottom: 80px;
    }


    .features_container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 30px;
        align-content: center;
        padding-top: 16px;
    }

    .features_1 {
        grid-column: span 1;
        grid-row: span 1;
    }

    .featured_episode {
        padding: 60px 20px;
    }


    .episode_detail {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        height: 100%;
        margin-top: 24px;
    }

    .challenge_bar {
        align-items: center;
    }

    .footer_main {
        padding: 60px 20px 35px;
    }

}